html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.main {
  width: 100%;
  height: 100%;
  background-color: #c4c6c5;
}
.top-sec{
  width: 100%;
  height: 200px;
  background-color: #3a3d3d;
}
.middle-sec{
  height: calc(100vh - 90px);
  width: 70%;
  background-color: #fefeff;
  margin: auto;
}
.bottom-sec{
  width: 70%;
  height: 150px;
  background-color: black;
  margin: auto;
}
